a
{
color:#000000;
text-decoration:none;
font-weight:bold;
}

a.main
{
font-size:300%;
color:#000000;
}

div#nav
{
width:600px;
text-align:right;
}

div#content
{
width:600px;
text-align:left;
}

a:hover
{
color:#C0C0C0;
}

a.selected
{
color:#F57218;
}

body
{
font-family:Arial;
background-image:url(panel.png), url("realtorehologo.gif");
background-repeat:repeat-y, no-repeat;
background-position: top left, right bottom;
background-attachment:fixed;
}